checkpoints
data
logs
models/*.pt
results
.vscode
.env

__pycache__
*.pyc
*.pyo

*/**/__pycache__
*.ipynb_checkpoints
*/**/*.ipynb_checkpoints
*.egg-info
*.egg
*.log
*.DS_Store
*.db
*.sqlite3

*.png
*.jpg
*.jpeg
*.gif